<div class="container mx-auto flex">
  <ul class="flex flex-col overflow-x-auto gap-2 snap-x snap-mandatory">
    <li class="first-ind snap-center w-fit">
      <%= image_tag "hold_hands_ring.jpg" %>
    </li>
    <li class="snap-center w-fit">
      <%= image_tag "m-leg.jpg" %>
    </li>
    <li class="snap-center w-fit">
      <%= image_tag "look-into-eyes.jpg" %>
    </li>
    <li class="snap-center w-fit">
      <%= image_tag "on-back.jpg" %>
    </li>
    <li class="snap-center w-fit">
      <%= image_tag "kiss-cheek.jpg" %>
    </li>
  </ul>
  <ul class="flex overflow-x-auto gap-6 snap-x snap-mandatory">
    <li class="first-ind shrink-0 snap-center w-fit">
      <%= image_tag "hold_hands_ring.jpg" %>
    </li>
    <li class="shrink-0 snap-center w-fit">
      <%= image_tag "m-leg.jpg" %>
    </li>
    <li class="shrink-0 snap-center w-fit">
      <%= image_tag "look-into-eyes.jpg" %>
    </li>
    <li class="shrink-0 snap-center w-fit">
      <%= image_tag "on-back.jpg" %>
    </li>
    <li class="shrink-0 snap-center w-fit">
      <%= image_tag "kiss-cheek.jpg" %>
    </li>
  </ul>
</div>