<% if device == "mobile" %>
  <div class="snap-y snap-mandatory h-screen overflow-scroll scroll-smooth">
    <%= render "shared/intro-mobile" %>
    <%= render "shared/travel-mobile" %>
    <%= render "shared/gallery-mobile" %>
  </div>
<% else %>
  <div class="snap-y snap-mandatory h-screen overflow-scroll scroll-smooth">
    <div class="snap-center shrink-0">
      <%= render "shared/intro" %>
    </div>
    <div class="snap-center shrink-0">
      <%= render "shared/travel" %>
    </div>
    <div class="snap-center shrink-0">
      <%= render "shared/gallery" %>
    </div>
  </div>
<% end %>