<div id="gallery" class="snap-center mx-auto flex md:aspect-[16/8.86] lg:aspect-[16/8.86]">
  <div class="flex">
    <ul class="flex overflow-x-auto gap-6 snap-x snap-mandatory">
      <li id="m-img-1" class="first-ind shrink-0 snap-center w-fit">
        <%= image_tag "hold_hands_ring.jpg" %>
      </li>
      <li id="m-img-2" class="shrink-0 snap-center w-fit">
        <%= image_tag "m-leg.jpg" %>
      </li>
      <li id="m-img-3" class="shrink-0 snap-center w-fit">
        <%= image_tag "look-into-eyes.jpg" %>
      </li>
      <li id="m-img-4" class="shrink-0 snap-center w-fit">
        <%= image_tag "on-back.jpg" %>
      </li>
      <li id="m-img-5" class="shrink-0 snap-center w-fit">
        <%= image_tag "kiss-cheek.jpg" %>
      </li>
    </ul>
  </div>
</div>